header {
  height: 100px;
  background-color: #d0cecb;
  text-align: center;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-before {
  height: 900px;
  background-color: #e2e0dd;
  text-align: center;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer {
  height: 300px;
  background-color: #ccc;
  text-align: center;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
